@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.footer-nav {
  display: flex; 
}

@media only screen and (max-width: 600px) {
  .large-screen-pipe {
    display: none;
  }
  .footer-nav {
    display: block;
  }
}
