@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.footer-nav {
  display: flex; 
}

.donate-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 100px;
  text-align: center;
  font-size: 16pt;
  z-index: 9999;
}

.donate-modal h1 {
  margin-bottom: 20px;
}

.donate-modal p {
  margin-bottom: 60px;
}

.video-container {
  width: 100%;
  margin: 0 auto;
}

.video-in-modal {
  position: relative;
  width: 100%;
  max-width: 560px;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
}

.video-in-modal iframe,
.video-in-modal object,
.video-in-modal embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 315px;
}

.close-button-modal {
  position: absolute;
  right: 10%;
  top: 20px;
}

.highlighted-link {
  color: var(--color-primary);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

.card-container > li {
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .large-screen-pipe {
    display: none;
  }
  .footer-nav {
    display: block;
  }
}
